version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: local_redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass "localdevpassword"
    volumes:
      - ./redis_data:/data